/* Tobias Maätita
   10730109
   CSS file supplying layout to Javascript assignment.*/
   /* Several of these instances are retrieved from https://www.w3schools.com/css/ */

/* fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: scroll;
    background: lightgrey;
}

/* headers styles */
h1
{
  text-align: center;
  font-size: 25px;
  font-family: Arial;
}

/* paragraph style */
p
{
  font-family: Arial;
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
}

/* ensure content is below navbar */
div.container-fluid
{
    padding-top: 20px;
    overflow: scroll;
    height: 100%;
}

/* canvas style */
canvas
{
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* select */
select
{
  float: left;
  text-align: center;
  margin-top: 14px;
  text-decoration: none;
  font-size: 17px;
}

/* columns */
.column
{
  float: left;
  width: 50%;
}

/* image */
.column img
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Clear floats after the columns */
.row:after
{
    content: "";
    display: table;
    clear: both;
}

/* navbar styles */
#points, #threes, #both
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#points:hover, #threes:hover, #both:hover, #nba:hover
{
  background-color: #f00;
  color: black;
}

.topnav
{
  background-color: #333;
  overflow: hidden;
}

.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
    background-color: #3E99E9;
    color: black;
}
