html, body
{
    height: 100%;
    /* overflow: scroll; */
    background: #ddd;
}

h1
{
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

p
{
  text-align: justify;
}

/* navbar */
.topnav
{
  background-color: #333;
  overflow: scroll;
}

.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
    background-color: #3E99E9;
    color: black;
}

/* ensure content is below navbar */
div.container-fluid
{
  padding-top: 20px;
  position: relative;
  overflow: scroll;
  height: 100%;
}


/* layout */
.pageTitle
{
  position: absolute;
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 30px;
  font-family: helvetica;
  font-weight: bold;
}

.studentInfo
{
  font-size: 16px;
  font-family: helvetica;
  font-weight: lighter;
  font-style: italic;
  text-align: justify;
  position: absolute;
  padding-left: 25%;
  padding-right: 25%;
  top: 118px;
}

#introText
{
  position: absolute;
  top: 150px;
  padding-left: 25%;
  padding-right: 25%;
  /* overflow: scroll; */
}

.text
{
  text-align: justify;
  font-family: helvetica;
  font-size: 18px;
}

.chartOne
{
  display: block;
  position: absolute;
  left: 280px;
  top: 270px;
  /* overflow: scroll; */
}

#summaryText
{
  position: absolute;
  padding-left: 25%;
  padding-right: 25%;
  top: 770px;
}

.chartTwo
{
  position: absolute;
  display: block;
  left: 620px;
  top: 920px;
  margin-top: 60px;
}

.piechartFilm
{
  position: absolute;
  display: block;
  left: 90px;
  top: 920px;
  margin-top: 30px;
  /* overflow: scroll; */
}

.wrapper
{
  /* overflow: scroll; */
}

/* charts */
.xAxis, .yAxis
{
  font-family: helvetica;
  font-size: 12px;
  font-weight: lighter;
}

.grid path
{
  display: none;
}

#stackProfanity:hover, #stackDeaths:hover
{
  fill: grey;
  cursor: pointer;
}

.graphTitlePie, .graphTitleStack
{
  font-size: 15px;
  font-family: helvetica;
  font-weight: bold;
}

.infoSummary
{
  stroke: none;
}




/* d3 tip from http://bl.ocks.org/Caged/6476579*/
.d3-tip {
  line-height: 1;

  font-weight: normal;
  padding: 12px;
  background: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  word-wrap: break-word;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: white;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
