html, body
{
    height: 100%;
    overflow: scroll;
    background: lightgrey;
}

h1
{
  font-size: 40px;
  font-weight: bold;
}

p
{
  text-align: justify;
}

.xAxis, .yAxis
{
  font-family: helvetica;
  font-size: 15px;
  font-weight: lighter;
}

.label
{
  font-family: sans-serif;
  fill: black;
  font-size: 18px;
  font-style: normal;
}

.champions
{
  fill: blue;
}

.champions.text
{
  fill: black;
}

/* columns */
.column
{
  float: left;
  width: 50%;
  padding: 20px;
}

/* ensure content is below navbar */
div.container-fluid
{
  padding-top: 20px;
  overflow: scroll;
  height: 100%;
}

.label
{
  text-anchor: middle;
  fill: black;
  font-size: 18px;
}

/* Clear floats after the columns */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

.title
{
  font-size: 22px;
  fill: black;
}

/* navbar */
.topnav
{
  background-color: #333;
  overflow: scroll;
}

/* navbar elements */
.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* color change navbar */
.topnav a:hover
{
    background-color: #3E99E9;
    color: black;
}

/* axes */
.xAxis path, .xAxis line,
.yAxis path, .yAxis line
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xAxis path
{
  display: none;
}



/* everything below is from http://bl.ocks.org/Caged/6476579*/

/* tips */

/* color change in bar */
.bar:hover
{
  fill: red;
}

/* create tip */
.d3-tip {
  line-height: 1;

  font-weight: normal;
  padding: 12px;
  background: white;
  color: black;
  border-radius: 10px;
  text-align: center;
  word-wrap: break-word;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: white;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
