html, body
{
    height: 100%;
    overflow: scroll;
    background: lightgrey;
}

/* p
{
  color:black;
  font-family: arial;
} */

.xAxis, .yAxis
{
  font-family: helvetica;
  font-size: 15px;
  font-weight: lighter;
}

.label
{
  font-family: sans-serif;
  fill: black;
  font-size: 18px;
  font-style: normal;
}

.champions
{
  fill: blue;
}

.champions.text
{
  fill: black;
}


/* everything below is from site */
.xAxis path, .yAxis line,
.yAxis path, .xAxis line
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.xAxis path
{
  display: none;
}

.bar:hover
{
  fill: orangered;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


/* ensure content is below navbar */
/* div.container-fluid
{ */
    /* padding-top: 20px;
    overflow: scroll;
    height: 100%;
}


.topnav
{
  background-color: #333;
  overflow: hidden;
}

.topnav a
{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
    background-color: #3E99E9;
    color: black;
}
